* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  background-color: black;
  color: #fff;
}

.hero {
  /* CSS Variable */
  --hero-height: 46.6875rem;
  min-height: var(--hero-height);
  position: relative;
  color: white;
}

.hero--child {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  min-height: var(--hero-height);
  padding: 1rem;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
}

.hero--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.2;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 56px;
}
/* .nav .select {
  color: #fff;
  background: transparent;
} */

.nav div .select_globe .globe {
  color: #fff;
  position: absolute;
  margin-top: 11px;
  margin-left: 8px;
}

.nav  .SignIn {
  padding-top: 5px;
  text-align: center;
  width: 84px;
  text-decoration: none;
  height: 34px;
  color: #fff;
  background-color: #e50914;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* .nav .navlink {
  display: flex;
  justify-content: center;
  align-items: center;
} */



.nav .SignIn:hover{
  background-color: #e44951;
}

div .select {
  background: transparent;
  color: #fff;
  width: 94px;
  height: 36px;
  top: 8px;
  padding: 6px 0px 5px 23px;
  border-radius: 3px;
  left: 1598px;
  cursor: pointer;
}

div .select option {
  background: transparent;
}

.logoimg {
  width: 10.4375rem;
}

.nav > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

div h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.005em;
  text-align: center;
}

div h2 {
  margin-top: 0.5rem;
  font-size: 26px;
  font-weight: 600;
}

.header h3 {
  font-size: 26px;
  font-weight: 320;
  line-height: 33px;
  margin-top: 1.5rem;
}


.header {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header .inputs {
  display: grid;
  grid-template-columns: 1fr max-content;
  width: 50rem;
  margin-top: 20px;
}

.inputs input {
  color: #fff;
  padding: 15px;
  font-size: 1.2rem;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  margin-right: 5px;
}

/* .inputs input:focus input {
  border: none;
} */

.header .inputs button {
  border-radius: 6px;
  margin-left: 5px;
  height: 100%;
  font-size: 1.625rem;
  text-align: center;
  padding: 6px 26px;
  border: 2px solid #e50914;
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header .inputs button:hover {
  background-color: #e44951;
  border: 2px solid #e44951;
}

.greaterthan {
  position: absolute;
  margin-top: 5px;
  margin-left: 6px;
}

/* section designs */
main .firstsec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 46px;
  padding: 70px 50px;
  align-items: center;
  margin: 0rem 10rem;
  border-bottom: 5px solid #222;
}

main .firstsec .txtone h4 {
  line-height: 3.4rem;
  font-size: 3.125rem;
  margin-bottom: 1.2rem;
}

main .firstsec .txt .para {
  font-size: 1.625rem;
}

.firstsec .media {
  position: relative;
  margin-left: 10rem;
  cursor: pointer;
}

.firstsec .media img {
  width: 400px;
}

.firstsec video {
  width: 293px;
  position: absolute;
  top: 63px;
  left: 51.5px;
}

.firstsec:nth-child(even) .txtone {
  order: 2;
}
/* section 2 */

.firstsec .mediatwo {
  position: relative;
  margin-right: 10rem;
  cursor: pointer;
}

.firstsec .mediatwo div .firstimg {
  height: 4rem;
  width: 3rem;
  margin-left: 10px;
}
.firstsec .mediatwo div .secondimg {
  height: 3rem;
  width: 3rem;
}
.firstsec .mediatwo .flexmedia {
  height: 85px;
  display: flex;
  border: 2px solid gray;
  border-radius: 1rem;
  padding: 5px;
  align-items: center;
  width: 18rem;
  gap: 2rem;
  position: absolute;
  top: 16.8rem;
  left: 6.8rem;
  background-color: black;
}

.firstsec .mediatwo div span {
  color: rgb(60, 60, 231);
}


/* faq section design */

main .faq {
  padding: 70px 30px;
  border-bottom: 3px solid #222;
}

main .faq .faqh1 {
  font-size: 3.125rem;
  text-align: center;
  margin-bottom: 4rem;
}

main .faq .questions {
  max-width: 635px;
  margin: 0 auto;
  font-size: 1.625rem;
}

main .faq .question {
  position: relative;
  background-color: #303030;
}

main .faq .question:hover {
  background-color: #494949;
  transition: all 0.5s ease;
}

main .faq .question .plusicon {
  width: 30px;
  height: 30px;
  top: 23px;
  right: 22px;
  position: absolute;
  transition: all 0.4s ease;
}

div.question .headerfaq {
  display: block;
  cursor: pointer;
  padding: 20px 30px;
  border-bottom: 3px solid #000;
}

div.question div.answer {
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  border-bottom: 4px solid black;
}

div.question input[type="checkbox"] {
  display: none;
}

div.question input[type="checkbox"]:checked ~ div.answer {
  padding: 30px 30px;
  max-height: 600px;
}

div.question input[type="checkbox"]:checked ~ .headerfaq img {
  transform: rotate(133deg);
}

/* input field below the FAQ section */
section.faq div p.abovei {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.faq div.inputs {
  display: grid;
  grid-template-columns: 1fr max-content;
  width: 45rem;
  margin-top: 20px;
  margin: 0 auto;
}

.faq.inputs input {
  color: #fff;
  padding: 15px;
  font-size: 1.2rem;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  margin-right: 5px;
}

/* .inputs input:focus input {
  border: none;
} */

.faq .inputs button {
  border-radius: 6px;
  margin-left: 5px;
  height: 100%;
  font-size: 1.625rem;
  text-align: center;
  padding: 6px 26px;
  border: 2px solid #e50914;
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.faq .inputs button:hover {
  background-color: #e44951;
  border: 2px solid #e44951;
}

.greaterthan {
  position: absolute;
  margin-top: 5px;
  margin-left: 6px;
}

/* footer section */
body footer {
  padding: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  
}

body footer h5{
  margin-bottom: 10px;
  color:rgba(117, 117, 117, 1);
  font-size: 16px;
  font-weight: 400;
}

body footer section.flexfooter{
  display: flex;
  justify-content: space-between;
}

body footer section.flexfooter .footerlinks{
  margin-top: 2rem;
}

body footer section.flexfooter .footerlinks a {
  display: block;
  text-decoration: none;
  line-height: 1.8rem;
  color:rgba(117, 117, 117, 1);
}

/* select buttom in the footer */
footer div .select_globe .globe {
  color: #fff;
  position: absolute;
  margin-top: 11px;
  margin-left: 8px;
}

footer div {
  margin-top: 1rem;
}

footer p {
  color:rgba(117, 117, 117, 1);
  margin-top: 1rem;
}